@import 'base/reset';
@import 'mixins/main';
@import 'partials/main';

body {
  background-color: #e9eaec;
  color: #555;
  font-family: 'Helvetica neue', Helvetica, sans-serif;
}

header {
  @include shadow;
  background-color: #fff;
  grid-area: header;
}

.container {
  display: grid;
  grid-template-columns: 1fr minmax(154px, 278px) minmax(542px, 860px) 1fr;
  grid-template-rows: 56px auto auto;
  grid-template-areas:
    'header header header header'
    '. side-navbar filter .'
    '. side-navbar counter .'
    '. side-navbar jobs-section .';
  height: 100%;
  margin: auto;
  grid-gap: 14px;
}

.startup-counter {
  grid-area: counter;
  height: 32px;
}

.filter {
  background-color: #fff;
  grid-area: filter;
  height: 108px;
  max-width: 860px;
  width: 100%;
}

.jobs-section {
  background-color: #fff;
  grid-area: jobs-section;
  height: 2000px;
  max-width: 860px;
  width: 100%;
  justify-self: left;
}

.overlay {
  display: none;
}

@media (max-width: 767px) {
  header {
    background-color: gray;
    position: fixed;
    height: 42px;
    width: 100%;
  }

  .container {
    grid-template-columns: auto;
    grid-template-rows: 42px auto;
    grid-template-areas:
      'header'
      'filter'
      'counter'
      'jobs-section';
  }

  .overlay {
    display: inherit;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
    opacity: 0;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 42px;
    transition: all 0.3s ease;
    left: 0;
    pointer-events: none;
  }

  .overlay.active {
    opacity: 1;
    pointer-events: inherit;
  }
}
