// LAYOUT
$break-medium: '(min-width: 768px) and (max-width: 959px)';
$break-small: '(max-width: 767px)';

// COLORS
$color-elem-background: #fff;
$color-elem-accent: #f9f9fa;
$color-elem-accent-2: #f3f3f3;
