.section {
  color: #333;
  min-height: 65vh;
  padding: 100px 0;
  width: 100%;
}

.section:nth-of-type(2) {
  background-color: #f9f9f9;
}

.section__article {
  margin: auto auto;
  width: 50vw;
}

.section__text {
  font: 20px/1.68 'myRegular', sans-serif;
  letter-spacing: -0.06px;
}

.section__title {
  color: #333;
  font: 31px/39px 'myRegular', sans-serif;
  font-weight: 400;
  margin-bottom: 36px;
}

@media (max-width: 900px) {
  .section__article {
    margin: auto 10vw;
    width: auto;
  }
}
