@font-face {
  font-family: 'myCondensed';
  src: url('../fonts/condmedium.woff') format('woff');
}

@font-face {
  font-family: 'myMedium';
  src: url('../fonts/medium.woff') format('woff');
}

@font-face {
  font-family: 'myRegular';
  src: url('../fonts/regular.woff') format('woff');
}
